* {
    font-family:  Geneva, Verdana, sans-serif;
    font-size: small;
}
td, tr {
    padding: 5px;
    border: 1px solid;
}

th {
    padding: 5px;
    border: 1px solid;
    text-align: left;
    background-color: gainsboro;
}

table {
    border: 1px solid;
    table-layout: fixed;
    width: 100%;
}